.descripcion{
    color:var(--text-fondo);
    text-align: center;
    padding-top: 10px;
    height: 50px;
    width: auto;
}

.contenido{
    padding: 10px;
}

mat-card{
    width: auto;
    height: 100%;
}

mat-card > mat-card-content{
    background-color: var(--fondo-color);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border-color: var(--text-fondo);
    border: 2px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    display: flex !important;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.formclass{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}
·roundCompt{
    border-radius: 25px;
    background-color: red;
}

.formclass > div{
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#idComponentill{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.div-container{
    display: flex !important;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

#componenfill{
    width: 50%;
   
}
hr{
    width: 50%;
}

@media (max-width: 600px) {
    #componenfill{
        width: 95%;
    }

    hr{
        width: 95%;
        height: 1px;;
    }
} 

.btn_form{
    background-color: #53A2A7;
    color:aliceblue;
    height: 40px;
    width: 100%;
}