.descripcion{
    color:var(--text-color);
    text-align: center;
    padding-top: 10px;
    height: 50px;
    width: auto;
}

.contenido{
    padding: 10px;
}

mat-card{
    width: auto;
    height: 100%;
}

mat-card > mat-card-content{
    background-color: var(--fondo-color);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border-color: var(--text-color);
    border: 2px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    display: flex !important;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

mat-accordion{
    width: 100%; 
}
mat-checkbox{
    padding-left: 0%;
}

.mat-grid-tile-content {
    display: none;
    justify-content: flex-start;
 }

#idComponentill{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#componenfill{
    width: 95%;
   
}
hr{
    width: 50%;
}


.btn_form{
    background-color: #53A2A7;
    color:aliceblue;
    height: 40px;
    width: 100%;
}
